body {
  background-image: linear-gradient(to right, black, #5e615f);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1.6rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 1em;
}

.read-the-docs {
  color: #888;
}

.setup-container {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin-top: 16px;
}

.back-button {
  position: absolute;
  top: 16px;
  left: 16px;
}

.user-info {
  position: absolute;
  top: 4px;
  right: 2px;
  margin-bottom: 8px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.version {
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.8;
}