/* Make entire page background black */
body, html {
  background-color: black;
  margin: 0;
  padding: 0;
}


.setup-container {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 300px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}



.setup-heading {
  margin-bottom: 30px;
  font-size: 1.4rem;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  justify-content: space-between;
  width: 100%;
}

.input-label {
  color:white;
  font-size: 14px;
}

.setup-input {
  width: 160px; 
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
  background: white;
  color: black;
}

.version {
  margin-top: 25px;
  color: gray;
  font-size: 14px;
}

.generate-btn {
  margin-top: 10px;
  background-color: #444;
  border: 1px solid white;
}

.generate-btn:hover {
  background-color: #666;
}

